[build]
  publish = "."

[build.environment]
  NODE_VERSION = "22"

[[headers]]
  for = "/*.json"
  [headers.values]
    Cache-Control = "no-cache, no-store, must-revalidate"
    Pragma = "no-cache"
    Expires = "0"
